@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,400i,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

/* Change color modes derived from https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

:root {
	--course3380-color-100: rgba(195, 119, 224, 1);
	--course3380-color-010: rgba(195, 119, 224, .1);
    --link-color: rgba(0,123,255,1);
    --interface-color: rgba(255,255,255,.5);
    --font-color: rgba(38,50,56,1);
    --light-color: rgba(38,50,56,.5);
    --formbg-color: rgba(255,255,255,.9);
	--input-color: rgba(38,50,56,.25);
	--bg-color: rgba(38,50,56,1);
	--hover-color: rgba(255,255,255,1);
	--footer-color: rgba(255,255,255,.25);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

[data-theme="accessibility"] {
	--primary-color: rgba(0,0,0,1);
    --button-color: rgba(255,255,0,1);
    --interface-color: rgba(255,255,255,.8);
	--font-color: rgba(0,0,0,1);
    --light-color: rgba(0,0,0,.6);
    --formbg-color: rgba(255,255,255,1);
	--input-color: rgba(0,0,0,.5);
	--bg-color: rgba(0,0,0,1);
	--hover-color: rgba(255,255,255,1);
	--footer-color: rgba(255,255,255,.8);
}

html
body
nav
header
main
article
section
aside
footer

html {
    font-size-adjust: 100%;
    box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoqqothing: antialiased
}

/* Remove default padding */
ul[class],
ol[class] {
padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

/* Set core body defaults */
body {
min-height: 100vh;
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
list-style: none;
}
uqql { margin: 0; padding: 0; }
li { margin: 0 0 .25em 0; }


/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
max-width: 100%;
display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
* {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

xs
sm 46rem
md 62rem
lg 75rem

* { border: 1px solid red; }

.hide { display: none; visibility: hidden;}
hr { margin: 2em 0; border: 1px solid rgba(0,0,0,.15); border-width: 0 0 1px 0; }
a, a:active, a:visited { color: var(--link-color); }
a:hover { color: rgba(0,60,126,1); }

body { 
    font-family: "Crimson Pro", "Open Sans", Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-size: calc( 14px + (26 - 14) * ((100vw - 500px) / 1500));
    font-size: 1.6rem; 
    line-height: 1.45;
    color: var(--font-color); 
    background: #eee; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    overqqflow-y: hidden;
    letter-qqspacing: .01em;
}

.container { max-width: 1440px; max-width: 33em; margin: 0 auto; padqqding: 0 7vw; }

.meta {margin: 0 auto; padding: 1em 2em; background: rgba(255,255,255,1);}
    .meta a { text-decoration: none; }
    .nav-meta { display: flex; justify-content: flex-end; align-items: flex-start; }
        sup { font-size: .8rem; margin: 0; padding: 0; vertical-align: super; }
    nav ul { margin: 0; padding: 0; display: inline-flex; list-style: none; }
    nav li { margin: 0 0 0 1em; }

header { }
    .course { margin: 0 auto 2em auto; padding: 2em 0; color: rgba(255,255,255,1); background-color: var(--course3380-color-100); }
    .course ul { display: inline-flex; margin: 0; padding: 0; list-style: none; }


article { padding: 0 0 2em 0; } 
    .nav-wrap { display: flex; margin: 0 0 2em 0; }
    .nav-item { text-align: center; color: rgba(0,0,0,1); padding: .75em; margin: 0; border-radius: .3em .3em 0 0; border: 1px solid rgba(0,0,0,.15); border-width: 0 0 1px 0; }
    .nav-item:hover { background: var(--course3380-color-010); }
    .nav-item a { text-decoration: none; margin: 0; color: rgba(0,0,0,.5); }
    .nav-item.active { color: rgba(255,255,255,1); background: var(--course3380-color-100); border: 1px solid rgba(0,0,0,.15); border-width: 1px 1px 0 1px; }

    .content-main { }

aside { }
    aside { padqqding: 2em; margin: 0 0 0 2em; }
    aside p { margin: 0 0 .5em 0; padding: 0 0 .5em 0; border: 1px solid rgba(0,0,0,.2); border-width: 0 0 1px 0;}
    aside:last-child { padding-bottom: 0; }
    aside p:last-child { border: 0; }
    aside dl { display: flex; flex-wrap: wrap; padding: 1.5em 2em; background: rgba(255,255,255,.8); }
    aside dt { flex: 100% 1; font-weight: 700; }
    aside dd { flex: 100% 1; margin: 0 0 .75em 0; padding: 0 0 .75em 0; border: 1px solid rgba(0,0,0,.15); border-width: 0 0 1px 0; }
    aside ul, aside ol { margin: 0; }
    aside:last-child { padding-bottom: 0; border: 0; }
    aside .header-aside { margin: 0; padding: 1em 2em; color: rgba(255,255,255,1); background: var(--course3380-color-100); }

section { }
    .related { margin: 2em auto 0 auto; padding: 2em 2em 1em 2em; background: rgba(255,255,255,1); }
        .related .class { padding-right: 2em; }
        .related .class + .class { padqqding-left: 1em; }
        .related img { height: 12vw; border: none; background-size: 110%; background-position: center center; }
        .related .asl3350 img { background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Interp.jpg/640px-Interp.jpg); border-top: 1em solid blue; }
        .related .asl3360 img { background-image: url(http://c1.staticflickr.com/8/7599/16835096096_93130cb5ce_c.jpg); border-top: 1em solid magenta; }
        .related .asl3370 img { background-image: url(https://www.tulsacc.edu/sites/default/files/styles/program_header/public/program/header-image/asl_program_5.jpg); border-top: 1em solid green; }
        .related .asl3380 img { background-image: url(http://thephilanews.s3.amazonaws.com/wp-content/uploads/2012/12/Gallaudet-University-Widening-Horizons-for-the-Deaf.jpg); border-top: 1em solid var(--course3380-color-100); }

    .well { margin: 2em 0; fontqq-size: 90%; break-inside: avoid; }
        .inline { background: rgba(255,255,255,.35); padding: 2em; }
        .outline { background: rgba(255,255,255,.35); padding: 2em; margin: 2em -2em !important; }
        .columns-one { columns: 1; column-gap: 2em; column-rule: 1px solid rgba(0,0,0,.15); }
        .columns-two { columns: 2; column-gap: 2em; column-rule: 1px solid rgba(0,0,0,.15); }
        .columns-three { columns: 3; column-gap: 3em; column-rule: 1px solid rgba(0,0,0,.15); }
        .well h4 { padding: 1rem 0; border: 1px double rgba(0,0,0,.15); border-width: 4px 0 1px 0; margin: 0 0 1.5em 0; }

footer { margin: 0 auto; padding: 2em 0; background: rgba(0,0,0,.15); }


Figure { margin: 0 0 2em 0; }
figure img { width: 100%; margin: 0 0 1em 0; }
figcaption { color: rgba(0,0,0,.5); font-size: .9rem; }
.icon { height: 1em; display: inline-block; }
.thumbnail-right { float: right; width: 7em; margin: 0 0 1em 1em; }
.thumbnail-left { float: left; width: 7em; margin: 0 1em 1em 0; }



.card { padding: 1em; margin: 0 1em 1em 0; border: 1px solid rgba(0,0,0,.15); border-radius: .5em;}


h1, .h1 { font-size: 185%; line-height: 1.2; margin: 0 0 .5em 0; }
h2, .h2 { font-size: 145%; line-height: 1.2; margin: 0 0 .5em 0; }
h3, .h3 { font-size: 115%; line-height: 1.3; margin: 0 0 .5em 0; }
    .resources h3 { margin-top: 1em; padding-top: 1em; border-top: 1px solid rgba(0,0,0,.2); }

h3 { }
p { margin: 0 0 1em 0; }
.note { font-size: 90%; margin: 0 0 1em 0; padding: 0 0 0 0; border-bottom: 0 solid rgba(0,0,0,.15); color: rgba(0,0,0,.6); }

table {
    border-collapse: collapse;
}
table ul { margin: 0; }
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--font-color);
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid rgba(0,0,0,.15);
    text-align: left; 
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0,0,0,.15);
}

.table tbody+tbody {
    border-top: 2px solid rgba(0,0,0,.15);
}


.alert { padding: 1.5em 1.5em 1.5em 1.5em; margin: 1em 0; border-radius: .75em; border: 1px solid rgba(0,0,0,.1); background: rgba(0,0,0,.1); }
.alert-danger { background: rgba(255,0,0,.1); border: 1px solid rgba(255,0,0,.2); color: rgb(185,0,0,1); }
.label { padding: .2em .5em .3em .5em; border-radius: 50em; background: rgb(185,0,0,1); color: rgba(255,255,255,1); }
.label-danger { }



@media screen and ( max-width: 46rem )  
    {
        .content-main { flex-direction: row-reverse; }
        .related .class + .class { paddqqing-left: 0; }
        .columns-one, .columns-two, .columns-three { columns: 1; }
    }

@media screen and ( max-width: 63rem )  
    {
        .container { margin: 0 auto; padding: 0 7vw; }
    }

@media screen and ( max-width: 62rem )  
    {
    body {  }
    aside { margin: 0 0 2em 0; }
    article { }
    }